<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <!--去各个环境里面找log的路径 -->
    <springProperty scope="context" name="LOG_BASE_HOME" source="log.dir"/>
    <springProperty name="LOG_NODE" source="config.longValue"/>

    <logger name="org.hibernate.SQL" level="INFO"/>

    <appender name="stdout" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%d{yyyy-MM-dd HH:mm:ss.SSS} [%thread] %-5level %logger{50} - %msg  %n</pattern>
        </encoder>
    </appender>

    <!-- System log -->
    <appender name="file.log.sys" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <append>true</append>
        <file>${LOG_BASE_HOME}/ing/sys.log</file>
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <fileNamePattern>${LOG_BASE_HOME}/sys/%d{yyyyMMdd}.sys.log</fileNamePattern>
        </rollingPolicy>
        <encoder>
            <pattern>%d{yyyy-MM-dd HH:mm:ss.SSS} [%thread] %-5level %logger{50} - %msg  %n</pattern>
        </encoder>

    </appender>

    <appender name="ModelsAppender" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <File>${LOG_BASE_HOME}/logs/models.log</File>
        <append>true</append>
        <!--<filter class="ch.qos.logback.classic.filter.LevelFilter">-->
            <!--<level>INFO</level>-->
            <!--<onMatch>ACCEPT</onMatch>-->
            <!--<onMismatch>DENY</onMismatch>-->
        <!--</filter>-->
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <fileNamePattern>${LOG_BASE_HOME}/logs/models.%d{yyyy-MM-dd}.log</fileNamePattern>
            <maxHistory>12</maxHistory>
        </rollingPolicy>
        <encoder charset="UTF-8">
            <pattern>[%d{yyyy-MM-dd HH:mm:ss.SSS}] %level [%thread] %file:%line - %msg%n</pattern>
            <charset>UTF-8</charset>
        </encoder>
    </appender>

    <appender name="ScoreAppender" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <fileNamePattern>${LOG_BASE_HOME}/score/leads_scoring_${LOG_NODE}_%d{yyyyMMdd}.log</fileNamePattern>
            <maxHistory>7</maxHistory>
        </rollingPolicy>
        <encoder charset="UTF-8">
            <pattern>%msg%n</pattern>
            <charset>UTF-8</charset>
        </encoder>
    </appender>

    <logger name="Score" additivity="false" level="INFO">
        <appender-ref ref="ScoreAppender"/>
    </logger>

    <logger name="Models" additivity="false" level="INFO">
        <appender-ref ref="ModelsAppender"/>
    </logger>

    <root>
        <level value="INFO"/>
        <appender-ref ref="file.log.sys"/>
        <appender-ref ref="stdout"/>
    </root>

</configuration>
